<!DOCTYPE html>
<html>
<head>
  <title>Subengine</title>
  <%= stylesheet_link_tag    "subengine/application", media: "all" %>
  <%= javascript_include_tag "subengine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
