<h2>Sign Up</h2>
<%= form_for(@user, :url => do_user_sign_up_url) do |user| %>
	<%= render "mtdevise/account/users/form", :user => user %>
	<%= user.submit "Sign Up", :class => "btn btn-primary" %>
<% end %>
