<!DOCTYPE html>
<html>
<head>
  <title>Mtdevise</title>
  <%= stylesheet_link_tag    "mtdevise/application", media: "all" %>
  <%= javascript_include_tag "mtdevise/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
