# Ruby Related
.rvmrc

# Rails Related
.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache

*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/

# Ruby Motion
.dat*
.repl_history
build/

# Aptana
*.project

# Documentations and Cache
/.yardoc/
/_yardoc/
/doc/
/rdoc/

## Environment
/.bundle/
/lib/bundler/man/