.page-header
  h1
    | Your accounts

table.table.table-stripped.table-hover
  thead
    tr
      th Account name
      th Subdomain
  tbody
    - @accounts.each do |account|
      tr
        th scope="row"= account.name
        th scope="row"= link_to account.subdomain, "http://#{account.subdomain}.#{request.host}"

.text-center
  = link_to 'Create a new Account', subengine.new_account_path, class: 'btn btn-success btn-lg'
